* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

#main {
  height: 50vh;
  background: #323232;
  background: -moz-linear-gradient(top, #36072e, #0a0625);
  background: -webkit-linear-gradient(top, #36072e, #0a0625);
  background: linear-gradient(to bottom, #36072e, #0a0625);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#notmain {
  height: 50vh;
  background: -moz-linear-gradient(top, #0a0625, #101013);
  background: -webkit-linear-gradient(top, #0a0625, #101013);
  background: linear-gradient(to bottom, #0a0625, #101013);
}